<div id='div1_form1'>
<form id="form1" class="frm">
<table class="frm">
    <tr>
        <td><label>Id:</label></td>
        <td><input type="text" name="anagid" id="anagid" value="" size="" maxlength="" /></td>
    </tr>
    <tr>
        <td><label>Cognome:</label></td>
        <td><input type="text" name="cognome" id="cognome" value="" size="30" maxlength="30" /></td>
    </tr>
    <tr>
        <td><label>Nome:</label></td>
        <td><input type="text" name="nome" id="nome" value="" size="30" maxlength="30" /></td>
    </tr>
    <tr>
        <td><label>Datanasc:</label></td>
        <td><input type="text" name="datanasc" id="datanasc" value="" size="10" maxlength="" /></td>
    </tr>
    <tr>
        <td><label>Sesso:</label></td>
        <td><input type="text" name="sesso" id="sesso" value="" size="1" maxlength="1" /></td>
    </tr>
    <tr>
        <td><label>Codfisc:</label></td>
        <td><input type="text" name="codfisc" id="codfisc" value="" size="16" maxlength="16" /></td>
    </tr>
    <tr>
        <td><label>Piva:</label></td>
        <td><input type="text" name="piva" id="piva" value="" size="11" maxlength="11" /></td>
    </tr>
    <tr>
        <td><label>Marca:</label></td>
        <td><select id='marca_id' name='marca_id'> <option id="marca_option">XX</option>
        </select></td>
    </tr>
    <tr>
        <td><label>Comuneid:</label></td>
        
        <td><input type="text" name="comuneid" id="comuneid" value="" size="6" maxlength="6" />
        <button type="button" class="lookup" 
        onclick="javascript:UaRq.loadFn('/rqrpua/loc_lk/wndloc.js')({txtUrl:'loc_lk/filter.html', id:'popup_id',lkId:'comuneid'});">W</button>
        </td>
    </tr>
</table>
</form>
</div>
<div id="div2_form1"></div>

